{{ use('kamaelkz/yii2admin/v1/widgets/formelements/activeform/ActiveForm') }}
{{ use('kamaelkz/yii2admin/v1/widgets/formelements/Pjax') }}

{{ this.setTitle(_('yii2admin','Авторизация' )) }}

{{ pjax_begin({'formSelector' : '#login-form'}) }}
    {% set form = active_form_begin({
        'id' : 'login-form',
        'options' : {
            'class' : 'login-form'
        },
        'fieldConfig' : {
            'options' : {
                'class' : 'form-group form-group-feedback form-group-feedback-left'
            },
            'inputOptions' : {
                'class' : 'form-control'
            }
        }
    }) %}
        <div class="card mb-0">
            <div class="card-body">
                <div class="text-center mb-3">
                    <i class="icon-reading icon-2x text-slate-300 border-slate-300 border-3 rounded-round p-3 mb-3 mt-1"></i>
                    <h5 class="mb-0">
                        {{ _('yii2admin', "Авторизация") }}
                    </h5>
                    <span class="d-block text-muted">
                        {{ _('yii2admin', "Введите свои учетные данные ниже") }}
                    </span>
                </div>
                {{
                    form
                        .field(model, 'identity',{
                            'template' :
                                '
                                {input}
                                <div class="form-control-feedback">
                                    <i class="icon-user text-muted"></i>
                                </div>
                                {error}
                                '
                        })
                        .textInput({'placeholder': model.getAttributeLabel('identity')}) | raw
                }}
                {{
                    form
                        .field(model, 'validation',{
                            'template' :
                                    '
                                    {input}
                                    <div class="form-control-feedback">
                                        <i class="icon-lock2 text-muted"></i>
                                    </div>
                                    {error}
                                    '
                        })
                        .textInput({'placeholder': model.getAttributeLabel('validation')}) | raw
                }}
                <div class="form-group d-flex align-items-center">
                    {{
                        form
                            .field(model, 'rememberMe',{options : {'class' : 'form-check mb-0'}})
                            .checkbox({'class' : 'form-input-styled'}, false)
                            .label(null, {'class' : 'form-check-label'})
                            .error(false) | raw
                    }}
                    {{  html.a(_('yii2admin', "Забыл пароль") ~ ' ?', ['/site/request-password-reset'], { 'class': 'ml-auto' } ) | raw }}
                </div>
                <div class="form-group">
                    {{  html
                            .submitButton(
                                _('yii2admin', "Войти") ~ '<i class="icon-circle-right2 ml-2"></i>',
                                {
                                    'class' : 'btn btn-primary btn-block',
                                    'name' : 'login-button',
                                }
                            ) | raw
                    }}
                </div>
                <div class="form-group text-center text-muted content-divider">
                    <span class="px-2">
                        Don't have an account?
                    </span>
                </div>
                <div class="form-group">
                    {{  html.a(_('yii2admin', "Регистрация"), ['/site/registration'], { 'class' : 'btn btn-light btn-block' } ) | raw }}
                </div>
            </div>
        </div>
    {{ active_form_end() }}
{{ pjax_end() }}